$mainColor : #CCA079;
$placeholderInput : #BBBBBB;
$creenColor:#007066;
$titleColor:#1D1D1B;
$titleColorD29:#012D29;
$font40: 2.5rem;
$font35: 2.188rem;
$font18: 1.125rem;
.btnForm {
  border: unset;
  background: $mainColor;
  padding: 15px 64px;
  border-radius: 50px;
  font-size: 16px;
  color: #fff;
  font-weight: $w-medium;
  &:hover {
    color: #fff;
  }
}
label {
  font-size: $font18;
  font-weight: $w-medium;
  margin: 0;
  color: $mainColor ;
}
::placeholder {
  color: $placeholderInput;
  font-size: 0.875rem;
}
.InputStyle {
  input[type=text],input[type=email],input[type=number] {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    padding: 0 20px;
    border: unset;
  } 
}
.textareaStyle {
  textarea {
    width: 100%;
    min-height: 84px;
    border-radius: 8px;
    padding: 20px 24px;
    resize: unset;
    border: unset;
  }
}
.selectBox {
  select {
    height: 45px;
    min-width: 124px;
    border: unset;
    background: #f1f1f1;
    padding: 0 24px;
    color: #BBBBBB;
    font-weight: 400;
    border-radius: 8px;
    font-size: 14px;
    appearance:none;
    background-image: url(../images/innerPages/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: 15px 12px;
  }

}
.headerOfBox {
font-size: 1.5rem;
  color: #012D29;
  font-weight: $w-medium;
}
.headerOfBoxFont35 {
  font-size: $font35;
  color: $titleColor;
  font-weight: $w-medium;
}
.paragraphOfBox {
  font-size: $font18;
  color: #666666;
  margin: 0;
  line-height: 2;
}

.viewBtn {
  padding: 14px 45px;
  background: $mainColor ;
  display: inline-block;
  border-radius: 50px;
  color: #fff;
  img {
    margin-right: 10px;
  }
  span {
    font-size: 14px;
    font-weight: $w-medium;
  }
  &:hover {
    background: $creenColor;
    color: #fff;
  }
}
.DowloadBTn {
  padding: 14px 45px;
  background: transparent;
  display: inline-flex;
  border-radius: 50px;
  border: 2px solid $creenColor;
  color: $creenColor;
  img {
    margin-right: 10px;
  }
  span {
    font-size: 14px;
    font-weight: $w-medium;
  }
  &:hover {
    background: $creenColor;
    color: #fff;
    img {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(253deg) brightness(110%) contrast(230%);
    }
  }
}
@font-face {
  font-family: "DINNextLTRegular";
  src: url('../fonts/DIN-Next-LT-Arabic-Regular.ttf');
}
@font-face {
  font-family: "DINNextLTArabicMedium";
  src: url('../fonts/DINNextLTArabic-Medium.ttf');
}
body {
  background-color: #F1F1F1;
}





//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= {END} =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.breadcrumbScetion {
  font-family: "DINNextLTRegular";
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: rgb(0,91,83);
    background: -moz-linear-gradient(77deg, rgba(0,91,83,0.9640231092436975) 0%, rgba(46,120,114,0.7707457983193278) 100%, rgba(255,255,255,0) 100%, rgba(37,41,56,0.29735644257703087) 100%);
    background: -webkit-linear-gradient(77deg, rgba(0,91,83,0.9640231092436975) 0%, rgba(46,120,114,0.7707457983193278) 100%, rgba(255,255,255,0) 100%, rgba(37,41,56,0.29735644257703087) 100%);
    background: linear-gradient(77deg, rgba(0,91,83,0.9640231092436975) 0%, rgba(46,120,114,0.7707457983193278) 100%, rgba(255,255,255,0) 100%, rgba(37,41,56,0.29735644257703087) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005b53",endColorstr="#252938",GradientType=1);
  }
  & > img {
    width: 100%;
    height: 250px;
    position: absolute;
  }
  .container {
    position: relative;
    z-index: 9;
  }
  .breadcrumbCustom {
    list-style: none;
    padding: 0;
    display: flex;
    li {
      position: relative;
      display: flex;

      &:not(:last-of-type) {
        &::after {
          content: "\f0d9";
          font-family: "Font Awesome\ 5 Free";
          font-weight: 900;
          padding-left: 15px;
          font-size: 20px;
          color: $mainColor;
        }
      }
      a {
        color: #fff;
        font-family: "DINNextLT";
        font-weight: 400;
        padding-left: 10px;
        font-size: $font18;
      }
    }

  }
  .heading {
    font-size: $font40;
    padding-top: 10px;
    color: #fff;
  }


  .readspeakerSec {
    text-align: left;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 4px 4px;
      background: #fff;
      border-radius: 8px;
      margin-right: 12px;
      &:first-of-type {
        padding: 4px 12px 4px 10px;
        margin-right: 0px;
        & > span {
          font-size: 16px;
          color: #1d1d1b;
          font-weight: 400;
          padding-left: 9px;
         
        } 
      }
    }
    
  }
}

.systemSection {
  font-family: "DINNextLTRegular";
  .formSearch {
    margin: 48px 0 30px;
    border-radius: 8px;
    background: #ffff;
    display: flex;
    justify-content: center;
    padding: 24px;
    .boxSearchEvent {
      width: 526px;
      background: #F1F1F1;
      padding: 10px 12px;
      border-radius: 8px;
      input {
        background: unset;
        border: unset;
        padding-right: 12px;
        width: 80%;
        color: $placeholderInput;
        font-size: 18px;
      }
      ::placeholder {
        color: $placeholderInput;
        font-size: 18px;
      }
    }
  }

  .boxSearch {
    padding: 32px 20px;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      .showBox {
        bottom: 0px;
      }
    }
    .dateBox {
      span {
        font-size: 14px;
        color: $mainColor;
        padding-right: 3px;
      }
    }
    .titleBox {
      @extend .headerOfBox;
      margin: 13px 0 17px;
      height: 30px;
      overflow: hidden;
      // remove ro rem
      font-size:24px;
    }
    .praghBox {
      @extend .paragraphOfBox;
       // remove ro rem
      font-size:18px;
      height: 110px;
      overflow: hidden;
    }
    .showBox {
      position: absolute;
      background: #ffffffe6;
      width: 100%;
      left: 0;
      bottom: -130px;
      border-radius: 0 0 8px 8px;
      height: calc(100% - 115px);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: bottom .5s;
      .DowloadBTn {
        margin-right: 14px;
      }
    
    }

  }


}

.pagentaaionCustom {
  padding: 40px 0 120px;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  a , span {
    margin: 0 12px;
    width: 51px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    color: #244B5A;
    font-size: 20px;
    font-weight: $w-medium;
  }
  .current {
    background: #007F75;
    color: #fff;
  }
  .NextPagi,
  .prePagi {
    width: auto;
    background: unset;
  }
  .prePagi {
      img {
        transform: rotate(180deg);
      }    
  }
  .aspNetDisabled {
    img {
      filter: invert(85%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(105%) contrast(132%);
    }
  }
}
// filter: invert(85%) sepia(0%) saturate(1%) hue-rotate(173deg) brightness(105%) contrast(132%);


.viewSystem {
  .headOfView {
    text-align: center;
    padding-top: 51px;
    font-family: "DINNextLTRegular";
    .dateBox {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      img {
        width: 24px;
      }
      span {
          font-size: $font18;
        color: #CCA079;
        padding-right: 3px;
      }
    }
    .title {
      font-size: 1.75rem;
      color: #012D29;
      font-weight: $w-medium;
      margin: 0 0 28px 0;
    }
    .paragraphOfBox {
      margin-bottom: 27px;
    }
    .DowloadBTn img {
      margin-right: 13px;
    }
    
  }
 
  .card-body {
    .faq-section{
      margin-top: 50px !important;
    }
    padding: 0 21px 27px 80px;
   .card {
    margin-bottom: 48px;
    border-radius: 8px;
    border: unset;
    .card-header {
      background-color: #fff;
      border: unset;
      padding: unset;
      border-radius: 8px;
    }
   }
   .praghBox {
    font-weight: $w-medium;
    }
  }
  .resetPadding {padding: 0;} 

  .faq-section .mb-0 > a {
    display: block;
    position: relative;
    padding: 24px 24px 33px 24px;
    font-size: 1.5rem;
    color: #012D29;
    font-weight: $w-medium;
  }
 
  .faq-section .mb-0 > a:after {
    content: "";
    position: absolute;
    left: 24px;
    background-image: url(../images/innerPages/plusQ.svg);
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: .4s;
  }
  
  .faq-section .mb-0 > a[aria-expanded="true"]:after {
    content: "";
    transition: .4s;
    transform: rotate(45deg);
  }

}

.reportPage {

  .previewReports {
    text-align: center;
    .headerOfBox {
      margin:50px 0 20px 0;
      font-size: $font35;
    }
  }

  .formSearch {
    display: flex;
    justify-content: space-between;
    .boxSearchEvent {
      width: 339px;
    }
    .selectSection {
      display: flex;
       align-items: center;
       .selectBox {
         &:first-of-type {
           margin-left: 13px;
         }
       }
    }
  }

  .boxSearch {
    padding: 0;
    .greenBox {
      height: 230px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $creenColor;
      .boxG {
        img {
          max-width: 100%;
        }
        p {
          color: $mainColor;
          text-align: center;
          margin: 23px 0 0 0;
          font-size: 30px;
          font-weight: 600;
        }
      }
    }
    .dateBox {
      display: flex;
      justify-content: space-between;
      padding: 26px 24px 15px 30px;
      .dateS {
        img {
          transform: translateY(-1px);
        }
      }
      & > span {
        font-size: 0.875rem;
        padding: 5px 15px;
        background: $creenColor;
        border-radius: 40px;
        color: #fff;
       }
    }
    .titleBox {
      margin: 0px 0 12px;
      padding: 0px 24px 0px 30px;
    }
    .praghBox {
      height: 200px;
      padding: 0px 24px 20px 30px;

    }

    .showBox {
      height: calc(100% - 340px);
      bottom: -200px;
    }
    &:hover {
      .titleBox {
        text-decoration: underline;
      }
      .showBox {
       
      }
    }
  }

}

.backgroundOrImage {
  padding: 84px 0 89px;
  .container {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 300px;
      height: 300px;
      // background-color: green;
      background-image: url(../images/innerPages/dots.svg);
      left: -52px;
      top: -52px;
    }
  }
  .formContactUs {
    display: flex;
    align-items: center;
    margin-bottom: 52px;
    .textFrom {
      width: calc(100% - 630px);
      background: #fff;
      padding: 69px 24px 69px 17%;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      border-radius: 0px 8px 8px 0px;
      height: 685px;
      .headerOfBoxFont35 {
        margin-bottom: 30px;
      }
      .paragraphOfBox {
        padding-bottom: 24px;
      }
      .ContacT {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          a {
            display: inline-block;
            font-size: 16px;
            color: $creenColor;
            margin-bottom: 24px;
            img {
              padding-#{$end-direction}: 9px ;
            }
          }
        }
      }
      .qrCode {
        .paragraphOfBox {
          color: #012D29;
          font-weight: $w-medium;
          padding-bottom: 12px;
          margin:0;
        }
        .QRbox {
          height: 150px;
          width: 150px;
          img {
            width: 100%;
          }
        }
      }
    }
    .FromInputs {
      // background-image: url();
      // background: url(../images/innerPages/BGForm.svg), $creenColor;
      width: 630px;
      background-color: $creenColor;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
      padding: 51px 48px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url(../images/innerPages/BGForm.svg);
        inset: 0;
        opacity: .4;
      }
      .forZindex {
        position: relative;
        z-index: 2;
      }
      .formGroup {
        padding-bottom: 10px;
        label {
           display: block;
           margin-bottom: 5px;
        }
        select {
          width: 100%;
          background-color: #fff;
        }
      }
      .FixPadding {
        padding: 0 15px;
        .text-left,.text-right {
          padding-top: 14px;
        }
      }
    }
  }
  .col-md-12 {
    & > {
      .headerOfBoxFont35 {
        text-align: center;
        padding-bottom: 27px;
      }
    }
  }
  .mapFrom {
    width: 100%;
    height: 446px;
    iframe{
      border: 0;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      box-shadow: 0 0 10px rgba(0,0,0,.1);
    }
  }
}

.NewsPage {
  .formSearch {
    margin: 0 0 44px;
  }
  .boxNewsPage {
    box-shadow: 0 0px 25px rgba($color: #332e2e, $alpha: 0.1);
    display: flex;
    background-color: #fff;
    width: 82%;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 8px;
    &:hover {
      .boxImgNew {
        img {
          transform: scale(1.1);
        }
      }
    }
    .boxImgNew {
      width: 526px;
      overflow: hidden;
      img {
        border-radius: 10px;
        width: 526px;
        height: 100%;
        object-fit: cover;
        transition: .4s;
      }
    }
    .textNew {
      padding: 45px 30px 39px;
      width: calc(100% - 526px);
      .dateNew {
        margin: 0 0 27px 0;
        &:first-of-type {
          span {
            font-size: 16px;
            padding-#{$end-direction}: 10px;
            color: #CCA079;
          }
        }
      }
      .headerOfBox {
        margin-bottom: 12px;
        color: $mainColor;
      }
      .btnForm {
        display: inline-block;
        margin-top: 27px;
        padding: 10px 37px;
      }
    }

  }
}