/*
this UI is made desktop first.
*/


@media (min-width: 1400px) {
  .container {
    max-width: 1260px;
  }
  .custom-container{
    max-width: 1340px;
    margin: 0 auto;
  }
  .mx-lg-140 {
    padding-left: 70px;
    padding-right: 70px;
  }
  .inner-container{
    max-width: 1340px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1650px) {
  .container {
    max-width: 1446px;
  }
  .mx-lg-140 {
    padding-left: 140px;
    padding-right: 140px;
  }
  .custom-container{
    max-width: 1640px;
    margin: 0 auto;
  }
  .inner-container{
    max-width: 1640px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1649.98px){
  .media-list {
    .media-item {
      .img-box{
        height: 265px;
      }
    }
  }
  .main-member{
    .main-one , .main-two{
      .content-box{
        h3{
          font-size: 1.25rem;
          margin-bottom: 10px;
        }
        h5{
          font-size: 1.2rem;
          line-height: 27px;
          margin-bottom: 10px
        }
        p{
          font-size: 1rem;
          line-height: 24px;
        }
      }
    }
  }
  .list-members {
    .member-card {
      .content-box {
        h4{
          font-size: 1.2rem;
          line-height: 28px;
          margin-bottom: 10px;
        }
        h5{
          font-size: 1.1rem;
          line-height: 24px;
          margin-bottom: 7px;
        }
        p{
          line-height: 24px;
        }
      }
    }
  }
  .about-hay2a{
    padding-top: 40px;
  }
  .our-services {
    padding-top: 45px;
    .owl-carousel{
      // .owl-stage-outer {
      //   padding-top: 50px;
      // }
      .item {
        .service-card {
          .icon-box{
            height: 70px;
            margin-bottom: 15px;
          }
          h2{
            font-size: 23px;
            line-height: 33px;
            margin-bottom: 10px;
          }
          p{
            line-height: 32px;
          }
          &:hover{
            .icon-box{
              transform: translateY(-30px) scale(1.2);
            }
          }
        }
        
      }
    }
  }
  .our-partners {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .latest-news {
    padding-top: 10px;
    padding-bottom: 40px;
  }
  .ads {
    height: auto;
    padding-bottom: 60px;
  }
  .versions{
    padding-top: 40px;
    .swiper-container{
      width: auto;
    }
  }
  .main-navbar {
    .navbar-brand{
      flex: 0 0 225px ;
      margin-#{$start-direction}: 0 ;
      img{
        width: 100%;
      }
      &.brand-2{
        margin-#{$start-direction}: 20px ;
        flex: 0 0 80px;
      }
    }
    #navbarSupportedContent > .navbar-nav > .nav-item{
      margin-#{$start-direction}: 20px ;
    }
  }
}

@media (max-width: 1399.97px) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item {
    margin-left: auto;
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 65px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 1140px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 1140px + 30px) / 2);
  }

  .about-hayaa{
    .about-hay2a-content{
      h3{
        font-size: 2rem;
        margin-bottom: 15px;
      }
      p{
        font-size: 1rem;
      }
    }
  }

    .about-details {
      .details-item {
        .details-content {
          h3{
            font-size: 2rem;
            margin-bottom: 20px;
          }
          p{
            font-size: 1rem;
          }
          ul{
            li{
              font-size: 1rem;
              margin-bottom: 17px;
            }
          }
        }
      }
    }
    p.on-space{
      font-size: 1rem;
    }
    .about-note{
      padding-#{$start-direction}: 100px;
      padding-#{$end-direction}: 100px;
    }
    .media-list {
      .media-item {
        .img-box{
          height: 210px;
        }
      }
    }
    .Commissions-list {
      .Commissions-card {
        p{
          font-size: 1rem;
          max-height: calc(24px * 3);
          line-height: 24px;
        }
      }
    }
    .main-member{
      .main-one , .main-two{
        .content-box{
          padding-top: 60px;
          padding-bottom: 60px;
          h3{
            font-size: 1.1rem;
          }
          h5{
            font-size: 1.05rem;
          }
          &::before{
            height: calc(100% - 50px);
            top: 25px;
          }
        }
      }
      .main-two {
        .content-box{
          padding-#{$start-direction}: 10px;
        }
      }
      .main-one {
        .content-box{
          padding-#{$end-direction}: 10px;
        }
      }
    }
   
    .our-services {
        .item {
          .service-card {
            height: 335px;
            margin-bottom: 90px;
          } 
        }
        .owl-carousel .owl-nav button.owl-prev{
          #{$start-direction}: -50px;
        }
        .owl-carousel .owl-nav button.owl-next {
          #{$end-direction}: -50px;
        }
    }
    .our-partners , .latest-news {
      .owl-carousel .owl-nav button.owl-prev{
        #{$start-direction}: -50px;
      }
      .owl-carousel .owl-nav button.owl-next {
        #{$end-direction}: -50px;
      }
    }
    .ads{
      .tabs .tab-content .tab-pane{
        .owl-carousel .owl-nav button.owl-prev{
          #{$start-direction}: -50px;
        }
        .owl-carousel .owl-nav button.owl-next {
          #{$end-direction}: -50px;
        }
      }
    }
    .versions {
      .versions-card {
        .content-box {
          .actions {
            .view{
              width: 130px ;
              height: 45px
            }
            .download{
              margin-#{$start-direction}: 5px;
              width: 130px ;
              height: 45px
            }
          }
        }
      }
    }

    .main-navbar{
      max-height: 99px;
      .top-nav{
        margin-top: 15px;
        margin-bottom: 5px;
      }
      #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link{
        padding: 15px 0;
        font-size: 14px;
      }
      .search-box{
        top: 99px !important;
      }
    }
    .navbar .dropdown-menu{
      top: 99px !important;
    }
  }

// Large devices (desktops, 992px and up)
@include media-breakpoint-up(lg) {
  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding: 0;
    margin: 0;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {
    position: static;
  }

  .navbar .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    /*  height of nav-item  */
    top: 135px;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }
  .main-navbar.fixed .navbar .dropdown-menu {
    top: 69px;
  }
  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu,
  .navbar .dropdown .dropdown-menu:hover {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;
  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
}
// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link {
    font-size: 12px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 960px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 960px + 30px) / 2);
  }

  .media-list {
    .media-item {
      // .img-box{
      //   height: 210px;
      // }
      .content-box{
        h4{
          line-height: 28px;
        }
        p{
          line-height: 26px;
        }
      }
    }
  }
  .about-wekala {
    .content-box{
      h3{
        font-size: 2rem;
        line-height: 40px;
        margin-bottom: 7px
      }
      p{
        font-size: 1rem;
        line-height: 28px;
      }
    }
  }
  .maham-wekala {
    h3{
      line-height: 35px;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
    ul{
      li{
        font-size: 1rem;
        margin-bottom: 15px;
        &::before{
          top: 10px;
        }
      }
    }
  }
  .edarat {
    h3{
      line-height: 35px;
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    .edarat-box {
      height: 210px;
      margin-bottom: 30px;
      .content-box {
        h4{
          line-height: 24px;
          font-size: 1.1rem;
        }
      }
    }
  }

  .main-member-inner {
    .content-wrapper {
      .right-section{
        flex:  0 0 320px;
        margin-#{$end-direction}: 30px;
      }
      .left-section {
        .content-box{
          h3{
            font-size: 2rem;
            margin-bottom: 10px;
          }
          h5{
            line-height: 30px;
            margin-bottom: 5px;
          }
          p{
            
            font-size: 1rem;
            line-height: 25px;
            margin-bottom: 10px;
        
          }
        }
      }
    }
  }
  .lamha-tare5ia {
    padding-bottom: 75px;
    ul {
      li{
        font-size: 1rem;
        margin-bottom: 15px;
      }
    }
    p{
      font-size: 1rem;
      line-height: 24px;
    }
  }
  .main-member{
    .main-one , .main-two{
      .content-box{
        padding-top: 0px;
        padding-bottom: 0px;
        h3{
          font-size: 1.1rem;
        }
        h5{
          font-size: 1.05rem;
        }
        // &::before{
        //   height: calc(100% );
        //   top: 0;
        // }
      }
    }
    .main-two {
      .content-box{
        padding-#{$start-direction}: 30px;
      }
    }
    .main-one {
      margin-bottom: 20px;
      .content-box{
        padding-#{$end-direction}: 30px;
      }
    }
  }

  .about-hay2a {
    h2{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 30px;
      line-height: 40px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      margin-bottom: 25px;
    }
    .read-more{
      padding: 8.5px 50px;
      font-size: 16px;
    }
  }
  .our-services{
    padding-top: 20px;
    .heading {
      h2{
        margin-top: 0px;
        // margin-bottom: 10px;
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .our-partners{
    .heading {
      h2{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .latest-news{
    .heading {
      margin-bottom: 35px;
      h2{
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 40px;
      }
      p{
        font-size: 16px;
      }
    }
    .action{
      .read-more{
        padding: 8.5px 50px;
        font-size: 16px;
      }
    }
  }
  .ads{
    .heading {
      h2{
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
      }
    }
    .tabs {
      .nav-pills {
        margin-bottom: 40px;
        .nav-item{
          width: 190px;
          height: 45px;
          font-size: 16px;
          margin-#{$end-direction}: 5px;
          &:last-child{
            margin-#{$end-direction}: 0px;
          }
        }
      }
      .tab-content {
        .tab-pane {
          .ads-card {
            .content-box {
              h5 {
                font-size: 16px;
              }
              .more{
                font-size: 15px;
                width: 140px;
                height: 45px
              }
            }
          }
        }
      }
    }
  }
  .versions{
    .heading {
      h2{
        // margin-bottom: 20px;
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .sharekna-elraay {
    .offset-lg-1{
      margin-#{$start-direction}: 8.33333%;
    }
    .sharekna-elray-card{
      margin-#{$start-direction}: 0px;
      padding: 20px;
      margin-bottom: 20px;
      .card-hd {
        margin-bottom: 10px;
        h4{
          font-size: 30px;
          line-height: 40px;
        }
      }
        p{
          width: auto;
          line-height: 24px;
          margin-bottom: 20px;
        }
        a{
          width: 215px;
          padding: 10px 20px 10px;
          font-size: 15px;
          height: 45px;
        }
    }
  }
  .main-header {
    .slider-wrapper {
      .owl-carousel {
        .item {
          .caption{
            padding: 25px 30px;
            #{$end-direction} : calc(50% - 300px);
            h2{
              font-size: 32px;
              line-height: 42px;
              margin-bottom: 10px;
            }
            h4{
              font-size: 24px;
              line-height: 35px;
            }
            &::after{
              width: 50px;
              height: 50px;
              background-size: 60%;
              #{$start-direction}: 30px;
              top: -25px;
            }
          }
        }
      }
    }
  }
  .versions {
    .versions-card {
      .content-box {
        .actions {
          .view{
            width: 100px ;
            height: 40px;
            font-size: 14px;
            img{
              margin-#{$start-direction}: 5px;
              width: 15px;
              height: 15px;
            }
          }
          .download{
            margin-#{$start-direction}: 5px;
            width: 100px ;
            height: 40px;
            font-size: 14px;
            img{
              margin-#{$start-direction}: 5px;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }

  .main-navbar #navbarSupportedContent > .navbar-nav{
    padding-inline-start: 15px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item{
    margin-#{$start-direction}: 10px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item:last-child {
    margin-right: 10px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link.dropdown-toggle::after{
    background-size: contain;
    background-position-y: 100%;
    width: 8px;
  }
  .main-navbar .navbar-brand{
    flex: 0 0 200px;
  }
  .main-navbar .navbar-brand.brand-2{
    flex: 0 0 70px;
  }
}
// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
  .main-navbar {
    #navbarSupportedContent {
      position: absolute;
      width: 100%;
      left: 0;
      background: #fff;
      top: 99px;
      z-index: 99;
      > .navbar-nav {
        box-shadow: 0 80px 65px rgba($color: #000, $alpha: 0.20);
        padding-bottom: 20px;
        padding-inline-start: 0;
        > .nav-item {
          margin: auto;
          display: flex;
          flex-direction: column;
          &.search-mob{
            width: 400px;
            padding: 0 40px;
            .form-group{
              position: relative;
              margin-bottom: 0;
              margin-top: 20px;
              .form-control{
                padding-#{$end-direction}:45px ;
              }
              button{
                position: absolute;
                top: -4px;
                #{$end-direction}:10px
              }
            }

          }
          .nav-link{
            font-size: 14px;

          }
          .search-toggle{
            display: none;
          }
          &.contact-us{
            a{
              color: $golden-color;
              text-align: center;
            }
          }
        }
      }
    }
    .navbar-brand {
      align-self: flex-start;
      &.brand-2{
        position: absolute;
        #{$start-direction}: 220px;
        max-width: 75px;
        margin-#{$start-direction}: 20px;
        padding-#{$start-direction}: 0;
        &::before{
          content: "";
          background-color: #c3c3c3;
          width: 2px;
          height: 70%;
          position: absolute;
          #{$start-direction}: -15px;
          bottom: 5px
        }
      }
    }
    .navbar-toggler {
      position: absolute;
      #{$end-direction}: 50px;
      top: 40px;
    }
    .nav-wrapper {
      flex-grow: 1;
      width: auto;
      align-self: flex-start;
      margin-top: 45px;
      margin-#{$end-direction}: 115px;
      .top-nav {
        margin-top: 0;
        .nav-item {
          margin-#{$start-direction}: auto;
          &.contact-us{
            display: none;
          }
        }
      }
    }
  }
  .main-navbar .top-nav .nav-item .nav-link {
    font-size: 12px;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 720px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 720px + 30px) / 2);
  }


    // about page
    .about-hayaa{
      background-position: 5.5% 58%;
      .about-hay2a-content{
        h3{
          font-size: 1.5rem;
          margin-bottom: 0px;
        }
        p{
          font-size: 1rem;
          line-height: 30px;
          margin-bottom: 15px;
        }
      }
    }
    .about-details {
      padding-bottom: 40px;
      .details-item {
        .details-img{
          justify-content: center !important;
        }
        .details-content {
          padding-#{$start-direction}: 0  !important;
          // padding-#{$end-direction}: 0  !important;
          h3{
            font-size: 2rem;
            margin-bottom: 20px;
          }
          p{
            font-size: 1rem;
            line-height: 30px;
          }
          ul{
            li{
              font-size: 1rem;
              line-height: 30px;
              margin-bottom: 10px;
            }
          }
        }
        &.second{
          .details-content {
            padding-#{$end-direction}: 0  !important;
            margin-#{$end-direction}: 0  !important;
            p{
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    p.on-space{
      font-size: 1rem;
      line-height: 30px;
      padding-#{$end-direction}: 0;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .about-note{
      padding-#{$start-direction}: 50px;
      padding-#{$end-direction}: 50px;
      padding-top: 30px;
      .white-card{
        padding: 20px 35px;
        &::after{
          width: 40px;
          height: 30px;
          background-size: contain;
        }
        &::before{
          width: 40px;
          height: 30px;
          background-size: contain;
        }
      }
    }

    // servey
    .servey-list{
      .servey-item{
        padding-#{$start-direction}: 25px;
        padding-#{$end-direction}:25px ;
        .content-box{
          h5{
            font-size: 1.2rem;
            line-height: 26px;
            margin-bottom: 10px;
          }
        }
        .vote-here{
          a{
            width: 150px;
            height: 40px;
            font-size: 1rem;
          }
        }
      }
    }

    .reportPage {
      .formSearch{
        flex-direction: column;
        margin: 20px 0 ;
        .boxSearchEvent{
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }

    .attaches-tabs {
      margin-top: 40px;
      margin-bottom: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      .nav-link{
        font-size: 1rem;
        height: 45px;
        padding-#{$start-direction}: 20px;
        padding-#{$end-direction}: 20px;
        margin-left: 10px;
      }
    }
    .attaches-content {
      #attaches {
        .content-head {
          margin-bottom: 50px;
          h3{
            font-size: 1.5rem;
            line-height: 35px;
            margin-bottom: 10px;
          }
          p {
            font-size: 1rem;
            line-height: 24px;
          }
        }
        .goals {
          margin-bottom: 40px;
          .content-box {
            p{
              font-size: 1rem;
              line-height: 24px;
            }
          }
        }
        .content-mid {
          h3{
            font-size: 1.5rem;
            line-height: 35px;
            margin-bottom: 10px;
          }
          p{
            font-size: 1rem;
            line-height: 24px;
          }
        }
        .inner-tabs {
          .nav-pills {
            .nav-item{
              font-size: 1rem;
              height: 45px;
              padding-#{$start-direction}: 20px;
              padding-#{$end-direction}: 20px;
            }
          }
        }
      }
      #saudi-team {
        .content-head {
          margin-bottom: 50px;
          h3{
            font-size: 1.5rem;
            line-height: 35px;
            margin-bottom: 10px;
          }
          p {
            font-size: 1rem;
            line-height: 24px;
          }
        }
        .attaches-accordion {
          h2{
            font-size: 1.5rem;
            line-height: 35px;
          }
          .card-body {
            .faq-section{
              margin-top: 20px !important;
              .mb-0 > a{
                padding: 15px 20px 20px;
                padding-#{$end-direction}: 50px;
                font-size: 1.3rem;
                &::after{
                  height: 25px;
                  width: 25px;
                  top: 17px;
                  background-size: contain;              
                }            
              }
            }
            #accordion {
              .card-body {
                .item{
                  h4{
                    font-size: 1.1rem;
                    line-height: 24px;
                    margin-bottom: 7px;
                  }
                  h5{
                    font-size: 1rem;
                    margin-bottom: 5px;
                  }
                  ul{
                    li{
                      margin-bottom: 6px ;
                      margin-#{$end-direction}: 15px ;
                      padding-#{$start-direction}: 11px ;
                      font-size: .875rem ;
                    }
                  }
                  p{
                    font-size: .875rem;
                  }
                }
                p{
                  font-size: .875rem;
                }
              }
            }
          }
        }
      }

    }
    .main-member-inner {
      padding-top: 40px;
      padding-bottom: 50px;
      .content-wrapper {
        flex-direction: column;
        .right-section{
          margin: 0 auto;
          margin-bottom: 10px;
        }
        .left-section {
          .content-box{
            h3{
              font-size: 1.5rem;
              line-height: 38px;
            }
            h5{
              font-size: 1.2rem;
            }
            p{
              
              font-size: 1rem;
              line-height: 25px;
              margin-bottom: 10px;
          
            }
          }
        }
      }
    }
    .lamha-tare5ia {
      padding-top: 30px;
      padding-#{$end-direction}: 0 ;
      h3{
        font-size: 1.5rem;
        line-height: 35px;
        margin-bottom: 15px
      }
      ul {
        li{
          margin-bottom: 10px;
        }
      }
    }
    
    .main-member{
      .main-one , .main-two{
        .content-box{
          p{
            font-size: .875rem;

          }
        }
      }
    }
    .list-members {
      .member-card {
        .content-box {
          p{
            font-size: .875rem;
          }
        }
      }
    }
    .sharekna-elraay {
      .offset-lg-1{
        margin-#{$start-direction}: 0;
      }
    }
    .ads {
      .tabs {
        .nav-pills{
          justify-content: center;
          margin-bottom: 25px;
          .nav-item{
            margin-bottom: 5px;
          }
        }
      }
    }
    .latest-news {
      .owl-carousel {
        .owl-stage-outer {
          padding-bottom: 20px;
        }
        .item {
          .news-card{
            margin-#{$start-direction}:10px ;
            margin-#{$end-direction}:10px ;
            height: auto;
            padding-bottom: 35px;
            box-shadow: 0 10px 15px rgba($color: #000, $alpha: 0.10);

            .img-box {
              height: 190px;
            }
            .content-box{
              p{
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 15px;
                height: calc(24px * 3);
              }
            }
          }
        }
      }
    }

    .our-services {
      .owl-carousel {
        .owl-stage-outer {
          padding-top: 40px;
        }
        .item {
          .service-card{
            margin-#{$start-direction}:10px ;
            margin-#{$end-direction}:10px ;
            // height: auto;
            // padding-bottom: 35px;
            box-shadow: 0 -5px 15px rgba($color: #000, $alpha: 0.10);
            &:hover{
              box-shadow: 0 -5px 20px rgba(0, 91, 83,  0.40);
            }
            p{
              line-height: 25px;
              font-size: 16px;
            }
          }
        }
      }
      .owl-carousel .owl-nav button.owl-prev{
        #{$start-direction}: -40px;
      }
      .owl-carousel .owl-nav button.owl-next {
        #{$end-direction}: -40px;
      }
    }

  .our-partners , .latest-news {
    .owl-carousel .owl-nav button.owl-prev{
      #{$start-direction}: -40px;
    }
    .owl-carousel .owl-nav button.owl-next {
      #{$end-direction}: -40px;
    }
  }
  .ads{
    .tabs .tab-content .tab-pane{
      .owl-carousel .owl-nav button.owl-prev{
        #{$start-direction}: -40px;
        width: 30px;
        height: 30px;
        background-size: 35%;
      }
      .owl-carousel .owl-nav button.owl-next {
        #{$end-direction}: -40px;
        width: 30px;
        height: 30px;
        background-size: 35%;
      }
    }
  }
  .navigator{
    display: none;
    // right: 20px;
    // li{
    //   display: flex;
    //   margin-bottom: 10px;
    //   a{
    //     display: inline-flex;
    //     &::before{
    //       width: 10px;
    //       height: 10px;
    //     }
    //   }
    // }

  }


  .versions{
    height: 775px;
    .swiper-container{
      height: 570px;
      .swiper-slide {
        height: auto !important;
      }
    }
    &::after{
      height: 70px;
      bottom: 45px;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
  .side-border {
    border: none;
  }
  .navbar .dropdown-menu {
    &.show {
      text-align: center;
      padding-bottom: 0;
      background-color: rgba(0, 0, 0, 0.5) !important;
      padding-top: 15px;
      padding-bottom: 20px;
    }
    .side-border{
      .flex-column{
        .hd-img{
          align-self: center;
        }
      }
    }
    ul.nav {
      margin-bottom: 15px;
      padding-inline-start: 0;
    }
  }
  .main-navbar .navbar .dropdown-menu{
    h6 {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 7px;
    }
    p{
      font-size: 14px;
      line-height: 24px;
    }
    .nav-item {
      .nav-link{
        font-size: 14px;
        line-height: 24px;
        padding: 3px 8px;
      }
    }
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link{
    font-size: 14px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item{
    width: 95%;
  }
  .main-header .slider-wrapper .social {
    #{$end-direction}: calc((100vw - 540px + 30px) / 2);
  }
  .main-header .slider-wrapper .actions {
    #{$start-direction}: calc((100vw - 540px + 30px) / 2);
    bottom: 20px;
  }
  .main-header .slider-wrapper .owl-carousel .item .caption {
    top: 40px;
  }


  .about-note{
    padding-#{$start-direction}: 20px;
    padding-#{$end-direction}: 20px;
    .white-card{
      padding-bottom: 22px;
     h5{
      font-size: 1.1rem;
      line-height: 30px;
      margin-bottom: 10px;
     }
     p{
      font-size: 1rem;
      line-height: 24px
     }
      &::after{
        bottom: -17px;
        #{$end-direction}: 17px;
      }
      &::before{
        top: -13px;
        #{$start-direction}: 17px;
      }
    }
  }
    // breadcrumb
    .breadcrumbScetion{
      height: 200px;
      overflow: hidden;
      .heading{
        font-size: 2rem;
      }
      .breadcrumbCustom {
        li{
          a{
            font-size: 1rem;
          }
        } 
      }
    }

    // servey
    .servey-slider{
      .top-servey{
        .content-box{
          padding: 0 25px;
          h4{
            font-size: 2rem;
            line-height: 40px;
          }
          p{
            line-height: 24px;
          }
        }
      }
    }
    .slider-container{
      .slider-wrapper{
        width: 450px !important;
      }
    }
    .servey-slider{
      .item{
        .servey-card{
          padding-#{$start-direction}: 40px;
          padding-#{$end-direction}: 40px ;
          padding-bottom: 23px;
          .img-box {
            margin-bottom: 10px;
          }
          .content-box{
            h5 {
              font-size: 1.3rem;
              line-height: 32px;
              margin-bottom: 15px;
            }
            .vote-here{
              a{
                font-size: 1rem;
                width: 150px;
                height: 40px;
              }
            }

          }
        }
      }
      .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        width: 32px;
        height: 32px;
        background-size: 8px;
      }
      .owl-carousel .owl-nav button.owl-next{
        #{$start-direction}: 40px
      }
       .owl-theme .owl-dots{
         bottom: -5%;
       }
    }

    //  gallary

    .systemSection {
      .formSearch {
        .boxSearchEvent{
          input{
            font-size: 14px;
          }
        }
        .selectSection{
          .selectBox{
            label{
              font-size: 1rem;
            }
          }
        }
      }
    }

    .gallary-header{
      padding-top: 30px;
      padding-bottom: 10px;
      h3{
        font-size: 1.5rem;
        line-height: 34px;
        margin-bottom: 10px;
      }
      p{
        font-size: 0.875rem;
        line-height: 26px;
      }
    }
    .media-list {
      .media-item {
        .content-box {
          .media-details {
            margin-bottom: 3px;
            .date{
              font-size: 0.875rem;
            }
            .count{
              font-size: 0.87rem;
            }
          }
          h4{
            font-size: 1rem;
            line-height: 24px;
            margin-bottom: 4px;
          }
          p{
            font-size: .875rem;
            line-height: 20px;
          }
        }
      }
    }
    
    // pagination
    .pagination-section {
      .pagination {
        a{
          width: 30px;
          height: 30px;
        }
      }
    }

    .Commissions-nabzza {
      padding-top: 30px;
      padding-bottom: 35px;
      h3{
        font-size: 1.5rem;
        line-height: 34px;
        margin-bottom: 10px;
      }
      p{
        font-size: 0.875rem;
        line-height: 26px;
      }
    }
    .Commissions-list {
      .Commissions-card{
        height: auto;
        min-height: 270px;
        .icon-box{
          height: 80px;
          margin-bottom: 10px;
        }
        h2 {
          font-size: 1.3rem;
          line-height: 26px;
          margin-bottom: 10px;
        }
        p{
          margin-bottom: 15px;
          font-size: .875rem;
        }
        .more {
          padding: 8px 20px 8px;
          font-size: .875rem;
          width: 135px;
          height: 40px;
      }
      }
    }
    .about-wekala {
      .img-box{
        margin-top: 10px;
        width: 150px;
        height: 150px;
      }
      .content-box{
        h3{
          font-size: 1.5rem;
          line-height: 35px;
          margin-bottom: 7px
        }
        p{
          font-size: .875rem;
          line-height: 24px;
        }
      }

      .col-md-4{
        display: flex;
        justify-content: center;
      }
    }
    
    .maham-wekala {
      ul{
        li{
          font-size: .875rem;
          margin-bottom: 10px;
          &::before{
            top: 8px;
          }
        }
      }
    }


    .attaches-content {
      #attaches{
        .content-head {
          margin-bottom: 30px;
          p{
            font-size: .875rem;
          }
        }
        .goals {
          .content-box {
            h3{
              font-size: 1.2rem;
              line-height: 29px;
              margin-bottom: 7px;
            }
            p{
              font-size: .875rem;
            }
            ul{
              li{
                font-size: .875rem;
                padding-#{$start-direction}: 20px;
                &::before{
                  height: 10px;
                  top: 8px
                }
              }
            }
          }
        }
        .content-mid{
          p{
            font-size: .875rem;
          }
        }
      }
      #saudi-team {
        .content-head {
          margin-bottom: 30px;
          p{
            font-size: .875rem;
          }
        }
        .team-tasks {
          .content-box {
            h3{
              font-size: 1.2rem;
              line-height: 29px;
              margin-bottom: 7px;
            }
            .collapsed-sec {
              margin-top: 13px;
              h4{
                font-size: 1rem;
                line-height: 24px;
              }
              ul{
                li{
                  font-size: .875rem;
                  padding-#{$start-direction}: 20px;
                  &::before{
                    height: 10px;
                    top: 8px
                  }

                }
                &::after{
                  bottom: -22px;
                }
              }
            }
          }
        }
      }
    }

    .main-member-inner {
      padding-top: 40px;
      padding-bottom: 50px;
      .content-wrapper {
        flex-direction: column;
        .right-section{
          margin: 0 auto;
          margin-bottom: 10px;
        }
        .left-section {
          .content-box{
            // h3{
            //   font-size: 1.5rem;
            //   line-height: 38px;
            // }
            // h5{
            //   font-size: 1.2rem;
            // }
            p{
              font-size: .875rem;
              line-height: 24px;
            }
          }
        }
      }
    }
    .lamha-tare5ia {
      h3{
        font-size: 1.5rem;
        line-height: 35px;
        margin-bottom: 15px
      }
      ul {
        padding-#{$start-direction}: 20px ;
        li{
          font-size: .875rem;
          margin-bottom: 7px;
          padding-#{$start-direction}: 20px ;
          &::before{
            top: 8px
          }
        }
      }
      p{
        font-size: .875rem;
      }
    }

    .main-member{
      .main-one , .main-two{
        .img-box{
          margin: 0 auto;
          max-width: initial;
          width: 100%;
          max-height: 350px;
          border-radius: 8px 8px 0 0 ;
          img{
            height: auto;
          }
        }
        .content-box{
          padding: 25px;
          padding-top: 15px;
          padding-bottom: 35px;
          h3{
            line-height: 32px;
            margin-bottom: 5px;
          }
          h5{
            margin-bottom: 5px;
          }
          &::before{
            height: calc(100%);
            top: 0;
            width: 100%;
            border-radius: 0 0 8px 8px;
          }
        }
      }
      .main-two {
        .row{
          flex-direction: column-reverse;
        }
      }
    }
    .list-members {
      .member-card{
        margin-bottom: 30px;
      }
    }
    .about-hay2a {
      h2{
        font-size: 24px;
        line-height: 32px;
      }
      p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;    
      }
      .read-more {
        padding: 5.5px 40px;
        font-size: 14px;
      }
    }
    .our-services {
      padding-bottom: 20px;
      .heading {
        h2{
          font-size: 24px;
          line-height: 32px;
        }
      }
      .owl-carousel .item .service-card{
        margin-bottom: 20px
      }
      .owl-carousel .owl-nav button.owl-next{
       position: static;
       width: 30px;
       height: 30px;
       background-size: 35%;
      }
      .owl-carousel .owl-nav button.owl-prev{
        position: static;
        width: 30px;
        height: 30px;
        background-size: 35%;
      }
    }
    .our-partners {
      .heading {
        h2{
          font-size: 24px;
          line-height: 32px;
        }
      }
      .owl-nav{
        margin-bottom: 10px;
      }
      .owl-carousel .owl-nav button.owl-next{
        position: static;
        width: 30px;
        height: 30px;
        background-size: 35%;
       }
       .owl-carousel .owl-nav button.owl-prev{
         position: static;
         width: 30px;
         height: 30px;
         background-size: 35%;
       }
    }
    .latest-news {
      .heading {
        margin-bottom: 20px;
        h2{
          font-size: 24px;
          line-height: 32px;
        }
        p{
          font-size: 14px;
          line-height: 24px;
        }
      }
      .owl-carousel {
        .item {
          .news-card {
            .img-box {
              height: 250px;
            }
            .content-box {
              p{
                font-size: 14px;
                height: calc(24px * 2);
              }
              .date{
                font-size: 14px;
              }
            }
          }
        }
      }
      .owl-nav{
        margin-bottom: 10px;
      }
      .owl-carousel .owl-nav button.owl-next{
        position: static;
        width: 30px;
        height: 30px;
        background-size: 35%;
       }
       .owl-carousel .owl-nav button.owl-prev{
         position: static;
         width: 30px;
         height: 30px;
         background-size: 35%;
       }
    }
    .ads {
      padding-bottom: 30px;
      .heading {
        h2{
          font-size: 24px;
          line-height: 32px;
          margin-bottom: 15px;
        }
      }
      .tabs {
        .nav-pills {
          margin-bottom: 15px;
          .nav-item{
            width: 165px;
            height: 34px;
            font-size: 14px;
          }
        }
        .tab-content {
          .tab-pane {
            .ads-card {
              .content-box{
                justify-content: center;
                h5{
                  font-size: 15px;
                  margin-bottom: 15px;
                }
                .more{
                  font-size: 14px;
                  width: 125px;
                  height: 40px;
                }
              }
            }
            .owl-nav{
              margin-bottom: 10px;
            }
            .owl-carousel .owl-nav button.owl-next{
              position: static;
             }
             .owl-carousel .owl-nav button.owl-prev{
               position: static;
             }
          }
        }
      }
    }
    .versions {
      .heading {
        h2{
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    .main-header {
      .slider-wrapper {
        .owl-carousel {
          .owl-item.active {
            .item {
              .caption{
                width: auto;
                #{$end-direction}:auto;
                margin-left: 30px;
                margin-right: 30px;
                h2{
                  font-size: 28px;
                  line-height: 33px;
                }
                h4{
                  font-size: 19px;
                  line-height: 27px;
                }
                p{
                  font-size: 14px;
                  line-height: 26px;
                }
              }
            }
          }
        }
      }
    }
}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {
  // .main-navbar .nav-wrapper .top-nav {
  //   display: none;
  // }

  // breadcrumb
  .breadcrumbScetion{
    height: 165px;
    overflow: hidden;
    .heading{
      font-size: 1.5rem;
    }
    .breadcrumbCustom {
      li{
        a{
          font-size: 1rem;
        }
      } 
    }
  }

  .about-hayaa {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .about-details {
    padding-bottom: 40px;
    .details-item {
      padding-bottom: 25px;
      .details-content {
        h3{
          font-size: 1.5rem;
          margin-top: 10px;
          margin-bottom: 5px;
          line-height: 30px;
        }
        p{
          font-size: .9rem;
          line-height: 24px;
        }
        ul{
          li{
            font-size: .9rem;
            line-height: 24px;
            margin-bottom: 10px;
          }
        }
      }
      &.second{
        .details-content {
          padding-#{$end-direction}: 0  !important;
          p{
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  p.on-space {
    font-size: .9rem;
    line-height: 24px;
    margin-bottom: 20px;
    margin-top: 0px;
  }


  // servey
  .servey-slider{
    .top-servey {
      .content-box {
        h4 {
          font-size: 1.5rem;
          line-height: 30px;
        }
        p{
          font-size: 0.875rem;
        }
      }
    }
  }
  .slider-container{
    .slider-wrapper{
      width: 280px !important;
    }
  }
  .servey-slider{
    .item{
      .servey-card{
        padding-#{$start-direction}: 15px;
        padding-#{$end-direction}: 15px ;
        .content-box{
          h5 {
            font-size: 1rem;
            line-height: 24px;
          }
          .vote-here{
            a{
              font-size: .875rem;
              width: 130px;
              height: 35px;
            }
          }

        }
      }
    }

  }

  .attaches-tabs {
    .nav-link{
      height: 40px;
      padding-#{$start-direction}: 10px;
      padding-#{$end-direction}: 10px ;
      margin-#{$end-direction}: 3px;
    }
  }
  .attaches-content {
    #attaches{
     
      .goals {
        flex-direction: column;
        .img-box{
          margin: 0 auto;
        }
        .content-box{
          h3{
            text-align: center;
          }
        }
      }
     
    }
    #saudi-team {
     
      .team-tasks {
        flex-direction: column;
        .img-box{
          margin: 0 auto;
        }
        .content-box {
          h3{
            text-align: center;
          }
          .collapsed-sec {
            
            ul{
              li{
                margin-bottom: 15px;
              }
              &::after{
                bottom: -0;
              }
            }
          }
        }
      }
      .attaches-accordion {
        .card-body {
          .card{
            margin-bottom: 20px;
          }
          .faq-section {
            .mb-0 > a{
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
  .main-member-inner {
    padding-bottom: 30px;
    .content-wrapper {
      .left-section {
        .content-box{
          h3{
            font-size: 1.2rem;
            line-height: 32px;
            margin-bottom: 5px;
          }
          h5{
            font-size: 1rem;
            line-height: 24px;
          }
        }
      }
    }
  }
  .lamha-tare5ia {
    padding-top: 20px;
    h3{
      font-size: 1.5rem;
      line-height: 35px;
      margin-bottom: 15px
    }
    ul {
      padding-#{$start-direction}: 5px ;
      li{
        font-size: .875rem;
        margin-bottom: 7px;
        padding-#{$start-direction}: 20px ;
        &::before{
          top: 8px
        }
      }
    }
    p{
      font-size: .875rem;
    }
  }
  .versions {
    .swiper-container {
      height: 525px;
    }
    .versions-card {
      height: 215px;
      .img-box{
        flex: 0 0 130px;
        height: 215px;
        display: flex;
      }
      .content-box {
        h5{
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 7px;
        }
        p{
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 10px;
          height: calc(20px * 3);
        }
        .actions {
          .view{
            display: flex;
            width: 100%;
            margin-bottom: 5px;
            height: 35px;
            font-size: 13px;
          }
          .download{
            display: flex;
            width: 100%;
            margin-bottom: 5px;
            height: 35px;
            font-size: 13px;
            margin-#{$start-direction}:0 ;
          }
        }
      }
    }
  }
  .main-navbar{
    height: 85px;
  }
  .main-navbar #navbarSupportedContent{
    top: 85px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item.search-mob{
    padding: 0 15px;
    width: 100%;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item.search-mob .form-group button{
    top: 3px;
    #{$end-direction}: 3px;
    padding: 0 6px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item > .nav-link.dropdown-toggle::before{
    width: 35%;
  }
  .main-navbar .navbar-brand{
    flex: 0 0 135px;
  }
  .main-navbar .navbar-brand.brand-2{
    #{$start-direction}: 155px;
    max-width: 55px;
    margin-#{$start-direction}: 10px;
    &::before{
      #{$start-direction}: -8px;
    }
  }
  .main-navbar .navbar-toggler{
    #{$end-direction}: 20px;
    top: 25px;
    padding: 5px 8px;
  }
  #navbarSupportedContent > .navbar-nav > .nav-item #navbarDropdown {
    width: 100%;
    padding: 12px 15px;
    font-size: 14px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item #navbarDropdown::after{
    #{$end-direction}: 16px;
    position: absolute;
    top: 19px;
  }
  .main-navbar #navbarSupportedContent > .navbar-nav > .nav-item.contact-us a{
    text-align: #{$start-direction};
    padding: 12px 15px;
  }
  .main-navbar .nav-wrapper{
    margin-top: 30px;
    margin-#{$end-direction}: 63px;
  }
  .main-navbar .top-nav .nav-item .nav-link.lang img{
    margin-#{$start-direction}:3px ;
  }
}


@media (max-width: 349.97px) {
  .media-list {
    .media-item {
      .img-box{
        height: 170px;
      }
    }
  }
  .main-navbar .navbar-brand.brand-2{
    max-width: 40px;
  }
  .main-navbar .nav-wrapper{
    margin-#{$end-direction}: 48px;
  }
  .main-navbar .navbar-toggler{
    #{$end-direction}: 10px;
    top: 28px;
    padding: 3px 5px;
  }
}